.character {
  display: grid;
  background: #3c3e44;
  color: #fff;
  grid-template-columns: repeat(1, minmax(250px, 1fr));
  grid-auto-flow: row;
  border-radius: 1em;
}

.character__image {
  min-width: 100%;
  border-radius: 1em;
}
