.character {
  display: grid;
  background: #3c3e44;
  color: #fff;
  align-items: center;
  border-radius: 1em;
  grid-gap: 1em;
  padding: 1em;
}

.character__image {
  width: 100%;
  border-radius: 1em;
}
