#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@font-face {
  font-family: 'RickandMorty';
  src: url(./assets/get_schwifty.ttf) format('ttf');
}

.header__headline {
  font-family: 'RickandMorty', sans-serif;
}
